@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
/* Probando Sass en recordatorio de ReactJS */

$fondo-principal: #000000;
$texto-color1: bisque;
$titulo: salmon;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  align-items: center;
  background-color: #000000;
  color: $texto-color1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 80%;
  h2 {
    color: $titulo;
    margin: 30px auto;
  }
  .valores {
    column-gap: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 2rem;

    input[type="number"] {
      font-family: "Orbitron";
      font-size: 1.5rem;
      margin-left: 1rem;
      padding: 10px;
    }
  }
  .operaciones {
    align-items: center;
    column-gap: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    margin-top: 2rem;
    width: 60%;
    .operacion {
      font-size: 1.6rem;
      padding: 0.8rem 1rem;
    }
  }
  .final {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 2rem auto;
    width: 100%;
    .calcular {
      font-size: 1.5rem;
      padding: 0.8rem 1rem;
      width: 40%;
    }
  }
  .sec-resultado {
    border: 1px double black;
    width: 60%;
    .resultado {
      background-color: $texto-color1;
      color: $fondo-principal;
      font-family: "Orbitron";
      font-size: 1.6rem;
      padding: 20px 10px;
      width: 100%;
    }
  }
}
